# SYSTEM DESIGN
In this phase, the system design is prepared which specifies hardware and system requirements, such as data layers, programming languages, network infrastructure, user interface etc. It helps define the overall system architecture, which is further divided into

